{% extends 'store/base.html' %}
{% load static %}

{% block content %}

<h3 class="cart-title">🛒 Savatingiz</h3>

{% if cart_items %}
<div class="cart-container">
    {% for item in cart_items %}
    <div class="cart-item">
        <div class="cart-left">
            {% if item.product.photo %}
            <img src="{{ item.product.photo.url }}" alt="{{ item.product.name }}">
            {% else %}
            <img src="{% static 'store/no-image.png' %}" alt="No image">
            {% endif %}
        </div>

        <div class="cart-center">
            <h3>{{ item.product.name }}</h3>
            {% if item.extras.all %}
            <p><strong>Qo'shimcha:</strong></p>
            <ul>
                {% for extra in item.extras.all %}
                <li>{{ extra.name }} (+{{ extra.price }} So'm)</li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if item.sauces.all %}
            <p><strong>Sous:</strong></p>
            <ul>
                {% for sauce in item.sauces.all %}
                <li>{{ sauce.name }}{% if sauce.price %} (+{{ sauce.price }} So'm){% endif %}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <p>Miqdor: <strong>{{ item.quantity }}</strong></p>
            <p class="price">{{ item.get_total_price }} So'm</p>

            <form action="{% url 'update_cart_item' item.id %}" method="post" class="qty-form">
                {% csrf_token %}
                <input type="number" name="quantity" value="{{ item.quantity }}" min="1">
                <button type="submit">Yangilash</button>
            </form>
        </div>

        <div class="cart-right">
            <a href="{% url 'remove_cart_item' item.id %}" class="delete-btn">✖</a>
        </div>
    </div>
    {% endfor %}
</div>

<p class="total-price"><strong>Umumiy hisob:</strong> {{ total_price }} so'm</p>

<button id="open-order-form" class="checkout-btn">Buyurtma bering</button>

<form id="order-form" style="display:none; margin-top:20px;">
    {% csrf_token %}

    <input type="text" name="recipient_name" placeholder="Ismingiz?" required>
    <input type="text" name="address" placeholder="Dastavka?-Adresingiz: Predzakaz?-filial Adresi:" required>
    <input type="text" name="phone_number" placeholder="Telefon: yoki Telegram nickingiz: @..." required>
    <input type="text" name="comment" placeholder="Buyurtmaga izoh, istak, comment (ixtiyoriy)">


    <button type="submit">Tasdiqlash</button>
</form>

{% else %}
<p>Korzinka bo‘m-bo‘sh 😄</p>
<button onclick="window.location.href='{% url 'product_list' %}'">
    Menyuga qaytish
</button>
{% endif %}

{% endblock %}
