<!--{% extends 'store/base.html' %}-->

<!--{% block title %}nima bor?{% endblock %}-->

<!--{% block content %}-->
<!--&lt;!&ndash;<h2>Kategoriyalar ro'yxati </h2>&ndash;&gt;-->
<!--&lt;!&ndash;<ul>&ndash;&gt;-->
<!--&lt;!&ndash;    {% for category in categories %}&ndash;&gt;-->

<!--&lt;!&ndash;    <div class="category-list">&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="{% url 'category_detail' category.id %}">{{ category.name }}</a>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;    {% endfor %}&ndash;&gt;-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->
<!--<h2 class="page-title">Kategoriyalar</h2>-->

<!--<div class="category-scroll">-->
<!--    {% for category in categories %}-->
<!--        <a href="{% url 'category_detail' category.id %}"-->
<!--           class="category-pill">-->
<!--            {{ category.name }}-->
<!--        </a>-->
<!--    {% endfor %}-->
<!--</div>-->
<!--{% endblock %}-->




<!--&lt;!&ndash;        <a href="{% url 'category_detail' category.id %}">{{ category.name }}</a>&ndash;&gt;-->
